body {
    background: url('../Components/Assets/blackbg.jpg') center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
  }

.container {
    background:transparent;
    backdrop-filter: blur(4px);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
.card{
  opacity: 70% !important;
}
